body {
    background: linear-gradient(#b30000, #ff4d4d);
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    margin-top: 80px;
}

h1 {
    font-size: 55px;
    text-shadow: 2px 2px 5px black;
}

p {
    font-size: 22px;
}

.contador {
    background-color: rgba(0,0,0,0.3);
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border-radius: 15px;
}

#tiempo {
    font-size: 28px;
    margin-top: 10px;
    font-weight: bold;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 15px 35px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: darkgreen;
}

footer {
    margin-top: 120px;
    background-color: #800000;
    padding: 15px;
    font-size: 16px;
}
.nieve {
    position: fixed;
    top: -10px;
    color: white;
    font-size: 18px;
    user-select: none;
    pointer-events: none;
    animation-name: caer;
    animation-timing-function: linear;
}

@keyframes caer {
    to {
        transform: translateY(100vh);
    }
}
